extends ../../layout/main.jade

block content
  .page-header
    h1
      | Places
  .row
    each place in places
      .col-md-12
        a(href="/admin/places/" + place._id + "/edit")
          = place.name
